body {
  font-family: "Poppins", sans-serif;
  background-image: url('../aset/lty.png');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.login-box {
  background: #e59797;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  margin-top: 15px;
}

h2 {
  color: #e41212;
  font-size: 32px;
  margin-bottom: 10px;
  background: #f7ebeb;
}

p.notice {
  color: #f02b2b;
  font-size: 32px;
  background: #f7ebeb;
}

.input-group {
  text-align: left;
  margin-top: 10px;
}

label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #444;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

.btn-login:hover {
  background: #0056b3;
}

.clock {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: bold;
  color: #007bff;
}

.login-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

.footer-logo {
  width: 25px;
  vertical-align: middle;
  margin: 0 5px;
}

