body {
  font-family: Arial, sans-serif;
  background-image: url('../aset/lty.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #004aad;
  color: white;
  padding: 10px 20px;
}

#userNameDisplay {
  margin-right: 15px;
  font-weight: bold;
}

.btn-logout {
  background-color: #e63946;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.main-content {
  text-align: center;
  margin-top: 100px;
}

h2 {
  color: #004aad;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn.in {
  background-color: #06d6a0;
  color: white;
}

.btn.out {
  background-color: #ffb703;
  color: white;
}

.reason-select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.notif {
  margin-top: 25px;
  color: #333;
  font-weight: bold;
}
.footer {
  /* KUNCI PERUBAHAN: Menjadi Fixed */
  position: fixed; 
  bottom: 0px; /* Berada di paling bawah layar */
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 0;
  background-color: #afe29be8;
  color: #680c0c;
  font-size: 24px;
  border-top: 3px solid #f3500f;
  border-bottom: 4px solid #f3500f;
  z-index: 900; /* Di bawah Quick Links */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.footer-logo {
  height: 30px;
  vertical-align: middle;
}