body {
  font-family: Arial, sans-serif;
  background: #feffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(15, 228, 228);
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.kota {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

select {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #c96819;
}

#notif {
  margin-top: 10px;
  color: rgb(27, 34, 65);
  font-size: 0.9em;
}
